<%= form_for question, url: path do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :qtype %>
    <%= form.number_field :qtype, id: :question_qtype %>
  </div>

  <div class="field">
    <%= form.label :qstring %>
    <%= form.text_area :qstring, id: :question_qstring %>
  </div>

  <div class="field">
    <%= form.label :optionA %>
    <%= form.text_field :optionA, id: :question_optionA %>
  </div>

  <div class="field">
    <%= form.label :optionB %>
    <%= form.text_field :optionB, id: :question_optionB %>
  </div>

  <div class="field">
    <%= form.label :optionC %>
    <%= form.text_field :optionC, id: :question_optionC %>
  </div>

  <div class="field">
    <%= form.label :optionD %>
    <%= form.text_field :optionD, id: :question_optionD %>
  </div>

  <div class="field">
    <%= form.label :answer %>
    <%= form.text_field :answer, id: :question_answer %>
  </div>

  <div class="field">
    <%= form.label :subgenre_id %>
    <%= form.text_field :subgenre_id, id: :question_subgenre_id %>
  </div>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :question_score %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
