<%= form_tag(path, method: "get") do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% options.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if question.qtype == 1 %>
  <% options.each do |option| %>
    <div class="field">
      <% if notAnswer && (notAnswer.include? option.id) %>
        <% if audiencePoll %>
          <%= radio_button_tag 'answer_ids[]', option.id ,false, disabled: true %>
          <%= option.answer %>
          -- <%=   audiencePoll[option.id] %>%
        <% else %>
          <%= radio_button_tag 'answer_ids[]', option.id ,false, disabled: true %>
          <%= option.answer %>
        <% end %>
      <% else %>
        <% if audiencePoll %>
          <%= radio_button_tag 'answer_ids[]', option.id ,false %>
          <%= option.answer %>
          -- <%=   audiencePoll[option.id] %>%
        <% else %>
          <%= radio_button_tag 'answer_ids[]', option.id ,false %>
          <%= option.answer %>
        <% end %>
      <% end %>

    </div>
  <% end %>
  <p>Lifelines : </p>
  <% if @stat.fifty_fifty == 1 %>
    <%= link_to '50-50  ', fifty_fifty_path, method: :post %>
  <% end %>
  <% if @stat.audience_poll == 1 %>
    <%= link_to 'Audience Poll', audience_poll_path, method: :post %>
  <% end %>
<% else %>
  <% options.each do |option| %>
    <div class="field">
      <%= check_box_tag 'answer_ids[]', option.id ,false %>
      <%= option.answer %>
    </div>
  <% end %>
<% end %>
  <div class="actions">
    <%= submit_tag("Next Question") %>
  </div>
<% end %>
