<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table class="table table-hover" style="width:50%" >
  <thead>
    <tr>
      <th>Qtype</th>
      <th>Qstring</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.qtype %></td>
        <td><%= question.qstring %></td>
        <td><%= question.score %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<% if session[:role] == 'user_admin' %>
<%= link_to 'New Question', new_question_link_path, class: "btn btn-info", role: "button"  %>
<% end %>
<br/><br/>
<%= link_to 'back', subgenre_path(params[:subgenre_id]), class: "btn btn-success", role: "button"  %>
