<p id="notice"><%= notice %></p>

<p>
  <% if @question.qtype == 1 %>
    <h4> Single Correct Answer Type </h4>
  <% else %>
    <h4> Multi Correct Answer Type </h4>
  <% end %>
</p>

<div class="panel panel-warning">
     <div class="panel-heading">
        <strong><h4>Question : </h4></strong>
        <h4><%= @question.qstring %><br/></h4>
      </div>
</div>

  <% if @question.picture && @question.picture != "" %>
    <%= image_tag(@question.picture) %>
  <% end %>
  <br/>
  <% if @question.video && @question.video != "" %>
    <%= video_tag @question.video, :size => "500x500", :controls => true %>
  <% end %>

  <div class="panel panel-info">
       <div class="panel-heading">
          <strong><h5>Points For the Question:</h5></strong>
          <h4><%= @question.score %></h4>
       </div>
  </div>
</p>

<p><%= link_to('Options', options_link_path(@question.id), class: "btn btn-success", role: "button") %></p>
<ul class="pager">
  <li>
    <%= link_to 'Edit', edit_question_path(@question) %>
  </li>
  <li>
    <%= link_to 'Back', questions_link_path(@question.subgenre_id) %>
  </li>
</ul>
