<%= form_for leaderboard, url: path do |form| %>
  <% if leaderboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leaderboard.errors.count, "error") %> prohibited this leaderboard from being saved:</h2>

      <ul>
      <% leaderboard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :score %>
    <%= form.number_field :score, id: :leaderboard_score %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :leaderboard_user_id %>
  </div>

  <div class="field">
    <%= form.label :genre_id %>
    <%= form.text_field :genre_id, id: :leaderboard_genre_id %>
  </div>

  <div class="field">
    <%= form.label :subgenre_id %>
    <%= form.text_field :subgenre_id, id: :leaderboard_subgenre_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
