<p id="notice"><%= notice %></p>

<h1>Options</h1>

<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th>Isanswer</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.answer %></td>
        <td><%= option.isanswer %></td>
        <td><%= link_to 'Show', option %></td>
        <td><%= link_to 'Edit', edit_option_path(option) %></td>
        <td><%= link_to 'Destroy', option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>
<% if session[:role] == 'user_admin' %>
  <%= link_to 'New Option', new_option_link_path %>
<% end %>
<br/>
<%= link_to 'back', question_path(params[:question_id]) %>
