<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <style>
      .logoutLblPos{
          position:fixed;
          right:10px;
          top:5px;
          }
      .hidden{
        display:none;
      }
    </style>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if session['user_id'] %>
  <label class="logoutLblPos">
    <%= link_to('Logout', logout_path ,method: :delete, data: { confirm: 'Are you sure?' }) %>
  </label>
    <% end %>
  </body>
</html>
