<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
  <br/>
  <strong>Name:</strong>
  <%= @genre.description %>
</p>

<div class="list-group" style="width:500px" >

<%= link_to('SubGenres', subgenres_link_path(@genre.id), class: "list-group-item list-group-item-action") %>

<%= link_to('Leaderboard', leaderboards_genre_link_path(@genre.id), class: "list-group-item list-group-item-action") %>

</div>
<%= link_to 'Back', genres_path, class: "btn btn-info", role: "button" %>
