<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subgenre.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subgenre.description %>
</p>

<div class="list-group" style="width:500px" >
  <% if session[:role] == 'user_admin' %>
    <%= link_to('Questions', questions_link_path(@subgenre.id),class: "list-group-item list-group-item-action") %>
  <% end %>
  <%= link_to 'New Quiz!',start_newquiz_link_path(@subgenre.id), method: :post,class: "list-group-item list-group-item-action" %>
  <% @stat = Stat.find_by(subgenre_id: @subgenre.id, user_id: session['user_id']) %>
  <% if @stat %>
    <%= link_to 'Resume Quiz!',start_resumequiz_link_path(@subgenre.id), method: :post, class: "list-group-item list-group-item-action" %>
  <% end %>
    <p><%= link_to('Leaderboard', leaderboards_subgenre_link_path(@subgenre.id), class: "list-group-item list-group-item-action" )%></p>
</div>
<% @attempt = Leaderboard.find_by(subgenre_id: @subgenre.id, user_id: session['user_id']) %>
<% if @attempt %>
  <div style="text-align:center"><h2> Already Attempted!</h2> </div>
  <div style="text-align:center"><h2> Your Previous Score: <%= @attempt.score %></h2></div>
<% else %>
  <div style="text-align:center"><h2> Not Attempted! </h2></div>
<% end %>
<% if session[:role] == 'user_admin' %>
  <%= link_to 'Edit Subgenre', edit_subgenre_path(@subgenre), class: "btn btn-info", role: "button" %>
<% end %>
<br/><br/>
<%= link_to 'Back', subgenres_link_path(@subgenre.genre_id), class: "btn btn-info", role: "button" %>
