<%= form_for subgenre, url: path do |form| %>
  <% if subgenre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subgenre.errors.count, "error") %> prohibited this subgenre from being saved:</h2>

      <ul>
      <% subgenre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :subgenre_name %>
  </div>

  <div class="field">
    <%= form.label :no_of_questions %>
    <%= form.number_field :no_of_questions, id: :subgenre_no_of_questions %>
  </div>

  <div class="field">
    <%= form.label :fifty_fifty %>
    <%= form.number_field :fifty_fifty, id: :subgenre_fifty_fifty %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
