<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genre.name %>
</p>
<p><%= link_to('SubGenres', subgenres_link_path(@genre.id)) %></p>
<% if session[:role] == 'user_admin' %>
  <p><%= link_to('Leaderboard', leaderboards_genre_link_path(@genre.id)) %></p>
<% end %>

<%= link_to 'Back', genres_path %>
